
header {
    display: inline-block;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px 0px;
    background-attachment: fixed;
 }
  #home { 
    overflow: hidden;
    position:absolute; 
    width: 100%; 
    height: 100%;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: 0px 0px; 
    z-index: 1;
  }