
.hero_section {
    display: inline-block;
    width: 100%;
    text-align: center;
    color: white;
    float: left; 
    margin-top: calc(50vh - 210px);
    position: relative;
    font-weight: 200; 
    overflow: hidden;
}
    h1 {
        font-size: 50px;
    }
        .who {
            display: inline-block;
            margin: 20px 0px 40px 0px;
            font-size: 65px;
            line-height: 75px;
            border-right: 2px solid white;
        }
        .hero-anime {
            display: inline-block;
            padding-right: 5px;
            font-size: 65px;
            line-height: 75px;
            font-weight: 350;
        }

        .social > .fa {
            display: inline-block;
            width: 36px;
            height: 36px;
            background-color: rgba(0, 0, 0, 0.4);
            padding: 11px;
            font-size: 15px;
            border-radius: 50%;
            cursor:pointer;
            position: relative;
            z-index: 1;
        }
        .social > .fa:hover {
            background-color: rgb(59, 59, 59);
        }


@media ( max-width: 900px ) {
    .hero_section {
        display: inline-block;
        width: 100%;
    }
    .who {
        display: inline-block;
        margin: 20px 0px 20px 0px;
        font-size: 65px;
        line-height: 75px;
        border-right: 2px solid white;
        margin-top: 5px;
    }
    .social > .fa {
        z-index: 0;
    }
}
@media ( max-width: 768px ) {
    .container  {
        width: 100%;
        margin: 0;
        padding: 0 20px;
    }
    .hero_section {
        display: inline-block;
        width: 100%;
        text-align: center;
        color: white;
        float: left; 
        margin-top: calc(50vh - 135px);
        position: relative;
        font-weight: 200; 
    }
    .who {
        display: inline-block;
        margin: 10px 0px 65px 0px;
        font-size: 30px;
        line-height: 45px;
        border-right: 2px solid white;
    }
    .hero-anime {
        display: inline-block;
        padding-right: 5px;
        font-size: 30px;
        line-height: 45px;
        font-weight: 350;
    } 
}












