html {
    scroll-behavior: smooth;
  }

.container {
    display: inline-block;
    width: 1200px;
    margin: 0 calc(50% - 600px);
}
.bg {
    background-color: #f7f7f7;;
    width: 100%;
    height: 100%;
    margin: 0;
}

@media ( max-width: 1300px ) {
    .container  {
        width: 1150px;
        margin: 0 calc(50% - 575px);
    }
}
@media ( max-width: 1200px ) {
    .container  {
        width: 1000px;
        margin: 0 calc(50% - 500px);
    }
}
@media ( max-width: 1100px ) {
    .container  {
        width: 800px;
        margin: 0 calc(50% - 400px);
    }
}
@media ( max-width: 900px ) {
    .container  {
        width: 700px;
        margin: 0 calc(50% - 350px);
    }
}
@media ( max-width: 768px ) {
    .container  {
        width: 100%;
        margin: 0;
        padding: 0 20px;
    }
}
