nav {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 115px;
    padding: 0px 25px;
    transition: 0.5s;
}
nav * {
    color: white;
}
.sticky * {
    color: black !important;
    padding: 0px !important;
    margin-top: 16px !important;
}
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    display: inline-block;
    height: 60px;
    color: black !important;
    background-color: white;
    z-index: 2;
}
.active {
    border-bottom: 2px solid black;
}

    .logo {
        display: inline-block;
        float: left;
        margin-top: calc((115px / 2) - 21px);
        font-size: 19px;
        font-weight: bold;
        line-height: 30px;
        letter-spacing: 1px;
        position: relative;
        cursor: pointer;
        z-index: 1;

    }
    .close {
        display: none;
    }
    .links {
        display: inline-block;
        float: right;
        margin-top: calc((115px / 2) - 18px);
        margin-right: 10px;

    }
        .links > a {
            text-decoration: none;
            letter-spacing: 1px;
            margin-right: 29px;
            font-size: 16px;
            line-height: 20px;
            padding-bottom: 3px !important;
            position: relative;
            cursor: pointer;
            z-index: 1;
        }
        .links > a:hover {
            border-bottom: 2px solid white;
        }
        .links > a:first-of-type {
            border-bottom: 2px solid white;
        }



        @media ( max-width: 1300px ) {
            nav {
                padding: 0px;
            }
        }
        @media ( max-width: 1200px ) {

        }
        @media ( max-width: 1100px ) {

        }
        @media ( max-width: 900px ) {
            .links > a {
                margin-right: 10px;
            }

        }
        @media ( max-width: 768px ) {
            .links {
                position: absolute;
                display: inline-block;
                top: 40px;
                left: 0;
                width: 100%;
                height: 380px;
                background-color: rgb(255, 255, 255);
                z-index: 1;
                text-align: center;
            }
                .links > a {
                    display: inline-block;
                    width: 100%;
                    padding-top: 20px;
                    color: rgb(65, 65, 65);
                    font-size: 18px;
                    border: 0px;
                    margin: 5px 0px;
                    z-index: 0;
                }
                .links > a:hover {
                    color: black;
                    font-size: 20px;

                }
            .tap {
                display: none;
            }
            .close {
                display: inline-block;
                float: right;
                margin-top: calc((115px / 2) - 15px);
                font-size: 19px;
                font-weight: bold;
                line-height: 30px;
                color: white;
                letter-spacing: 1px;
                position: relative;
                cursor: pointer;
                z-index: 1;
            }
                .close > .fa {
                    display: inline-block;
                    color: white;
                    font-size: 22px;
                    margin-right: 13px;
                }
        }

