nav {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 115px;
    padding: 0px 25px;
    transition: 0.5s;
}
nav * {
    color: white;
}
.sticky * {
    color: black !important;
    padding: 0px !important;
    margin-top: 16px !important;
}
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    display: inline-block;
    height: 60px;
    color: black !important;
    background-color: white;
    z-index: 1;
}
.active {
    border-bottom: 2px solid black;
}

    .logo {
        display: inline-block;
        float: left;
        margin-top: calc((115px / 2) - 21px);
        font-size: 19px;
        font-weight: bold;
        line-height: 30px;
        letter-spacing: 1px;
        position: relative;
        cursor: pointer;
        z-index: 1;

    }
    .close {
        display: none;
    }
    .links {
        display: inline-block;
        float: right;
        margin-top: calc((115px / 2) - 18px);
        margin-right: 10px;

    }
        .links > a {
            text-decoration: none;
            letter-spacing: 1px;
            margin-right: 29px;
            font-size: 16px;
            line-height: 20px;
            padding-bottom: 3px !important;
            position: relative;
            cursor: pointer;
            z-index: 1;
        }
        .links > a:hover {
            border-bottom: 2px solid white;
        }
        .links > a:first-of-type {
            border-bottom: 2px solid white;
        }



        @media ( max-width: 1300px ) {
            nav {
                padding: 0px;
            }
        }
        @media ( max-width: 1200px ) {

        }
        @media ( max-width: 1100px ) {

        }
        @media ( max-width: 900px ) {
            .links > a {
                margin-right: 10px;
            }

        }
        @media ( max-width: 768px ) {
            .links {
                position: absolute;
                display: inline-block;
                top: 40px;
                left: 0;
                width: 100%;
                height: 420px;
                background-color: rgb(255, 255, 255);
                z-index: 1;
                text-align: center;
            }
                .links > a {
                    display: inline-block;
                    width: 100%;
                    padding-top: 20px;
                    color: rgb(65, 65, 65);
                    font-size: 18px;
                    border: 0px;
                    margin: 5px 0px;
                    z-index: 0;
                }
                .links > a:hover {
                    color: black;
                    font-size: 20px;

                }
            .tap {
                display: none;
            }
            .close {
                display: inline-block;
                float: right;
                margin-top: calc((115px / 2) - 15px);
                font-size: 19px;
                font-weight: bold;
                line-height: 30px;
                color: white;
                letter-spacing: 1px;
                position: relative;
                cursor: pointer;
                z-index: 1;
            }
                .close > .fa {
                    display: inline-block;
                    color: white;
                    font-size: 22px;
                    margin-right: 13px;
                }
        }











































/* nav {
    display: inline-block;
    width: 100%;
    height: 115px;
    padding: 18px 19px 0px 19px;
}
.active {
    border: 1px solid red;
}

    nav > #x > .logo {
        display: inline-block;
        float: left;
        margin-top: calc(50px - 25px);
        font-size: 22px;
        line-height: 25px;
        color: white;
        font-weight: bold;
        letter-spacing: 2px;
        position: relative;
        cursor: pointer;
        z-index: 1;

    }
    nav > #x > .links {
        display: inline-block;
        float: right;
        margin-top: calc(50px - 25px);
        font-size: 18px;
        line-height: 25px;
    }
    nav > #x > .links > a {
        display: inline-block;
        text-decoration: none;
        margin-right: 25px;
        letter-spacing: 1px;
        color: white;
        position: relative;
        cursor: pointer;
        z-index: 1;
        padding-bottom: 5px;
        margin-bottom: -15px;

    }
    .hover:hover
    {
        border-bottom: 2px solid orange;
    }
    nav > #x > .close {
        display: none;
    }
    .border {
        border: 2px solid purple;
    }
    .fixed-nav  {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 1;
        background-color: white;
        padding: 0px 130px 20px 130px;
        color: black;
        transition: 0.5s;
      }

    @media ( max-width: 900px ) {
        nav > #x > .logo {
            margin-top: calc(50px - 25px);
            font-size: 19px;
            margin-left: 55px;
            float: left;
        }
        nav > #x > .links {
            display: inline-block;
            font-size: 15px;
            margin-top: 23px;
            margin-right: 55px;
            padding: 0px;
            z-index: 1;
        }
        nav > #x > .links > a{
            display: inline-block;
            padding: 0;
            margin: 0;
            font-size: 15px;
            margin: 0px 0px 0px 10px;
        }
        nav > #x > .links > a:last-of-type {
            display: inline-block;
            margin-right: 10px;
        }
        .fixed-nav  {
            position: fixed;
            width: 100%;
            height: 75px;
            top: 0;
            left: 0;
            z-index: 1;
            background-color: white;
            color: black;
            transition: 0s;
            padding: 0px 0px 0px 10px;
          }
}
    @media ( max-width: 768px ) {
        nav > #x > .logo {
            margin-top: calc(50px - 15px);
            margin-left: 20px;
        }
        nav > #x > .links {
            display: inline-block;
            width: 100%;
            height: 0;
            position: absolute;
            top: 70px;
            left: 0;
            background-color: white;
            text-align: center;
            overflow: hidden;
            transition: 0.5s;
        }
        nav > #x > .active {
            height: 420px;
        }
        nav > #x > .links > a {
            display: inline-block;
            width: 100%;
            padding: 14px;
            color: black !important;
            margin: 0px 0px 0px 0px;
            

        }
        nav > #x > .close {
            display: inline-block;
            color: white;
            margin-top: calc(50px - 15px);
            float: right;
            font-size: 25px;
            position: absolute;
            top: 0;
            right: 30px;
            overflow: hidden;
            cursor: pointer;
            z-index: 1;
        }
        .fixed-nav  {
            position: fixed;
            width: 100%;
            height: 95px;
            top: 0;
            left: 0;
            z-index: 1;
            background-color: white;
            color: black;
            transition: 0s;
            padding: 0px 0px 0px 0px;
            transition: 1s;
          }
    } */