.absolute {
    display: inline-block;
    width: 100%;
    height: 100px;
    padding-top: 43px;
}
    .logo {
        position: relative;
        display: inline-block;
        float: left;
        color: rgb(255, 255, 255);
        font-size: 19px;
        font-weight: bold;
        line-height: 25px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        margin: -3px 0px 0px 20px;
        cursor: pointer;
        z-index: 1;
    }
    .close {
        display: none;
    }
    .links {
        display: inline-block;
        float: right;
    }
        .absolute a {
            position: relative;
            color: rgb(255, 255, 255);
            font-size: 16px;
            line-height: 25px;
            font-family: 'Montserrat', sans-serif;
            margin-right: 35px;
            text-decoration: none;
            border-bottom: 2px solid white;
            z-index: 1;
        }
            .absolute a:first-of-type {
                border-bottom: 2px solid white;
            }
            .active {
                border-bottom: 2px solid rgb(0, 0, 0);
            }

        .fixed {
            position: fixed;
            top: 0;
            left: 0;
            display: inline-block;
            width: 100%;
            height: 60px;
            z-index: 10;
            background-color: rgb(255, 255, 255);
            padding: 20px;
            padding-right: 100px;
            padding-left: 100px;
        }
            .fixed a {
                position: relative;
                color: rgb(0, 0, 0);
                font-size: 15px;
                line-height: 25px;
                font-family: 'Montserrat', sans-serif;
                margin-right: 35px;
                text-decoration: none;
            }
            .fixed .logo {
                position: relative;
                color: rgb(0, 0, 0);
                font-size: 16px;
                line-height: 25px;
                font-family: 'Montserrat', sans-serif;
                margin-right: 35px;
            }
@media ( max-width: 1300px ) {

}
@media ( max-width: 1200px ) {

}
@media ( max-width: 1100px ) {
    .absolute a {
        margin-right: 20px;
    }
}
@media ( max-width: 900px ) {
    .absolute a {
        margin-right: 10px;
    }
    .logo {
        margin: 0;
        padding: 0;
    }
    .close {
        display: inline-block;
    }
        .close > .fa {
            display: inline-block;
            color: rgb(255, 255, 255);
            font-size: 25px;
            line-height: 22px;
            margin-top: -2px;
            margin-right: 20px;
        }
    .links {
        display: none;
    }
    .tap a {
        display: inline-block;
        width: 100%;
        height: 51px;
        float: left;
        text-align: center;
        background-color: rgb(255, 255, 255);
        color: black;
        padding-top: 20px;
        border-bottom: 0px;
    }
}
@media ( max-width: 768px ) {
    .absolute {
        float: left;
        padding: 24px 10px 0px 20px;
    }
    .fixed {
        display: inline-block;
        width: 100%;
        float: left;
        padding: 24px 10px 0px 20px;
    }
    
        .fixed a {
            margin-right: 10px;
        }
        .close {
            display: inline-block;
            position: relative;
            z-index: 1;
        }

        .fixed .fa {
            display: inline-block;
            color: rgb(0, 0, 0);
            padding-right: 0px;
        }
    .links {
        display: none;
    }
    .tap {
        position: absolute;
        display: inline-block;
        top: 60px;
        left: 0;
        right: 0;
        background-color: rgb(255, 255, 255);
    }
        .tap a {
            display: inline-block;
            width: 100%;
            height: 53px;
            float: left;
            text-align: center;
            background-color: rgb(255, 255, 255);
            color: black;
            padding-top: 20px;
            border-bottom: 0px;
        }
        .logo {
            font-size: 20px;
        }
            .fixed > .logo {
                font-size: 20px;
            }
    
}
