.portfolio {
    display: inline-block;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}
    .portfolio > .filter {
        display: flex;
        column-gap: 1rem;
        justify-content: center;
        margin-top: 40px;
        margin-bottom: 30px;
    }
        .portfolio > .filter > h3 {
            display: inline-block;
            padding: 0 10px; 
        }
    .portfolio > .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px
    }
    .portfolio > .gallery> div > img {
        width: 100%;
    }
  

    .portfolio > .gallery > div {
        position: relative;
    }

    .gallery-overlay{
        position: absolute;
        background-color: white;
        top: 10px;
        bottom: 10px;
        left: 10px;
        right: 10px;
        opacity: 0;

    }
    .gallery-overlay:hover{ 
        opacity: 1;
    }



   @media ( max-width: 768px ) {
        .portfolio > .gallery {
            display: inline-block;
        }
    
        } 


