.services {
    position: relative;
    display: inline-block;
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center;

}
.services > div {
    display: inline-block;
    width: 27%;
    background-color: white;
    margin: 12.5px;
    padding: 20px;
}
.services > div > i {
    display: inline-block;
    font-size: 30px;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 20px;
}
.services > div > i:hover {
    background-color: black;
    border-radius: 50%;
    color: white;
}

.services > div > h3 {
    display: inline-block;
    width: 100%;
    color: var(--h2-color);
    font-weight: 800;
    line-height: 30px;
    font-size: 20px;
}
.services > div > p {
    display: inline-block;
    width: 100%;
    color: var(--p-text-color);
    padding:  10px 20px 30px;
    line-height: 1.4;
    
}
.services > h2 {
 position: absolute;
 left: 50%;
 margin-top: 15px;
 transform: translate(-50%, 0);
}
@media ( max-width: 900px ) {
    .services {
        display: inline-block;
        grid-gap: 100%;
        text-align: center;
    }
    .services > div {
        display: inline-block;
        width: 100%;
        background-color: white;
        margin: 0px 0px 10px 0px;
        padding: 0px;
       
      
    }
    }